In [2]:
import pandas as pd
import numpy as np

In [19]:
death = pd.read_csv(
    "https://raw.githubusercontent.com/MIDS-at-Duke/pds2021-opioids-team-2-ids720/data_merging/20_intermediate_files/mortality_merged_imputed_all.csv?token=AVKGWH5OE6BMSR3USLBS7JDBUEM4A"
)

In [20]:
death.head()

,Year,State_Code,County_Name,Deaths,Population,Median_Income_2010,Income_Error_Margin,_merge,Death_per_cap,imputed_death_per_cap
0,2003,AL,Baldwin County,10.0,151707.0,50147.0,1046.0,both,0.000066,0.000066
1,2003,AL,Jefferson County,69.0,660486.0,45244.0,641.0,both,0.000104,0.000104
2,2003,AL,Mobile County,26.0,397707.0,40996.0,723.0,both,0.000065,0.000065
3,2003,AR,Pulaski County,18.0,366375.0,45121.0,783.0,both,0.000049,0.000049
4,2003,AZ,Cochise County,11.0,121175.0,44876.0,1551.0,both,0.000091,0.000091

In [24]:
death["Death_per_cap_final"] = np.where(death["Death_per_cap"].notna(), death["Death_per_cap"],death["imputed_death_per_cap"])

In [25]:
states_FL=["FL","MI","NV","SC"]
df_FL = death.loc[death["State_Code"].isin(states_FL)]
df_FL.head()

,Year,State_Code,County_Name,Deaths,Population,Median_Income_2010,Income_Error_Margin,_merge,Death_per_cap,imputed_death_per_cap,Death_per_cap_final
62,2003,FL,Alachua County,11.0,225862.0,40644.0,1059.0,both,0.000049,0.000049,0.000049
63,2003,FL,Bay County,21.0,154726.0,47770.0,1179.0,both,0.000136,0.000136,0.000136
64,2003,FL,Brevard County,97.0,502985.0,49523.0,841.0,both,0.000193,0.000193,0.000193
65,2003,FL,Broward County,230.0,1719073.0,51694.0,461.0,both,0.000134,0.000134,0.000134
66,2003,FL,Citrus County,16.0,125757.0,37933.0,957.0,both,0.000127,0.000127,0.000127

In [26]:
states_TX=["TX","CA","NY","OR"]
df_TX = death.loc[death["State_Code"].isin(states_TX)]
df_TX.head()

,Year,State_Code,County_Name,Deaths,Population,Median_Income_2010,Income_Error_Margin,_merge,Death_per_cap,imputed_death_per_cap,Death_per_cap_final
11,2003,CA,Alameda County,124.0,1450968.0,69384.0,876.0,both,0.000085,0.000085,0.000085
12,2003,CA,Butte County,40.0,211584.0,43170.0,982.0,both,0.000189,0.000189,0.000189
13,2003,CA,Contra Costa County,64.0,987662.0,78385.0,859.0,both,0.000065,0.000065,0.000065
14,2003,CA,El Dorado County,10.0,167436.0,70000.0,1769.0,both,0.000060,0.000060,0.000060
15,2003,CA,Fresno County,84.0,844194.0,46430.0,658.0,both,0.000100,0.000100,0.000100

In [27]:
states_WA=["WA","OR","HI","MT"]
df_WA = death.loc[death["State_Code"].isin(states_WA)]
df_WA.head()

,Year,State_Code,County_Name,Deaths,Population,Median_Income_2010,Income_Error_Margin,_merge,Death_per_cap,imputed_death_per_cap,Death_per_cap_final
105,2003,HI,Hawaii County,11.0,156340.0,54996.0,1555.0,both,0.000070,0.000070,0.000070
106,2003,HI,Honolulu County,62.0,888026.0,70093.0,725.0,both,0.000070,0.000070,0.000070
204,2003,MT,Missoula County,11.0,99832.0,42887.0,1381.0,both,0.000110,0.000110,0.000110
205,2003,MT,Yellowstone County,11.0,133054.0,48641.0,1222.0,both,0.000083,0.000083,0.000083
288,2003,OR,Clackamas County,28.0,355730.0,62007.0,954.0,both,0.000079,0.000079,0.000079

In [28]:
df_FL_pre = df_FL[df_FL["Year"] < 2010]
df_FL_post = df_FL[df_FL["Year"] >= 2010]

df_TX_pre = df_TX[df_TX["Year"] < 2007]
df_TX_post = df_TX[df_TX["Year"] >= 2007]

df_WA_pre = df_WA[df_WA["Year"] < 2011]
df_WA_post = df_WA[df_WA["Year"] >= 2011]

In [42]:
pre_FL = df_FL_pre.loc[df_FL_pre["State_Code"] == "FL"]["Death_per_cap"].describe()
pre_FL_x = df_FL_pre.loc[df_FL_pre["State_Code"] != "FL"]["Death_per_cap"].describe()

count    228.000000
mean       0.000131
std        0.000059
min        0.000035
25%        0.000081
50%        0.000120
75%        0.000177
max        0.000394
Name: Death_per_cap, dtype: float64

In [46]:
df_FL_post.Death_per_cap.max()

0.0004431969271679

In [48]:
post_FL = df_FL_post.loc[df_FL_post["State_Code"] == "FL"]["Death_per_cap"].describe()
post_FL_x = df_FL_post.loc[df_FL_post["State_Code"] != "FL"]["Death_per_cap"].describe()

post_FL_x

count    248.000000
mean       0.000167
std        0.000066
min        0.000038
25%        0.000119
50%        0.000160
75%        0.000202
max        0.000443
Name: Death_per_cap, dtype: float64

In [50]:
pre_WA = df_WA_pre.loc[df_WA_pre["State_Code"] == "WA"]["Death_per_cap"].describe()
pre_WA_x = df_WA_pre.loc[df_WA_pre["State_Code"] != "WA"]["Death_per_cap"].describe()

pre_WA_x

count    85.000000
mean      0.000111
std       0.000056
min       0.000036
25%       0.000072
50%       0.000099
75%       0.000123
max       0.000334
Name: Death_per_cap, dtype: float64

In [52]:
post_WA = df_WA_post.loc[df_WA_post["State_Code"] == "WA"]["Death_per_cap"].describe()
post_WA_x = df_WA_post.loc[df_WA_post["State_Code"] != "WA"]["Death_per_cap"].describe()

#post_WA
post_WA_x

count    74.000000
mean      0.000119
std       0.000050
min       0.000034
25%       0.000089
50%       0.000105
75%       0.000144
max       0.000295
Name: Death_per_cap, dtype: float64

In [34]:
df_TX_pre.loc[df_TX_pre["State_Code"] == "TX"].describe()
df_TX_pre.loc[df_TX_pre["State_Code"] != "TX"].describe()

,Year,Deaths,Population,Median_Income_2010,Income_Error_Margin,Death_per_cap,imputed_death_per_cap,Death_per_cap_final
count,624.000000,208.000000,6.240000e+02,624.000000,624.000000,208.000000,624.000000,624.000000
mean,2004.500000,92.524038,3.753519e+05,51550.826923,2059.967949,0.000107,0.000254,0.000254
std,1.118931,129.834006,9.338265e+05,12417.661145,2044.629573,0.000055,0.000220,0.000220
min,2003.000000,10.000000,1.123000e+03,33403.000000,234.000000,0.000008,0.000008,0.000008
25%,2003.750000,21.750000,4.260475e+04,43047.250000,1026.750000,0.000075,0.000103,0.000103
50%,2004.500000,40.000000,8.825750e+04,48014.000000,1594.500000,0.000099,0.000176,0.000176
75%,2005.250000,125.000000,2.986485e+05,55906.250000,2168.000000,0.000127,0.000302,0.000302
max,2006.000000,862.000000,9.808494e+06,93613.000000,16309.000000,0.000296,0.001033,0.001033

In [33]:
df_TX_post.loc[df_TX_post["State_Code"] == "TX"].describe()
df_TX_post.loc[df_TX_post["State_Code"] != "TX"].describe()

,Year,Deaths,Population,Median_Income_2010,Income_Error_Margin,Death_per_cap,imputed_death_per_cap,Death_per_cap_final
count,1404.000000,643.000000,1.404000e+03,1404.000000,1404.000000,643.000000,1404.000000,1404.000000
mean,2011.000000,87.998445,3.910420e+05,51550.826923,2059.967949,0.000133,0.000259,0.000259
std,2.582909,117.188355,9.565892e+05,12412.128168,2043.718541,0.000071,0.000215,0.000215
min,2007.000000,10.000000,1.041000e+03,33403.000000,234.000000,0.000032,0.000032,0.000032
25%,2009.000000,19.000000,4.186100e+04,43047.250000,1026.750000,0.000086,0.000113,0.000113
50%,2011.000000,41.000000,9.022650e+04,48014.000000,1594.500000,0.000115,0.000181,0.000181
75%,2013.000000,119.500000,3.173960e+05,55906.250000,2168.000000,0.000157,0.000304,0.000304
max,2015.000000,846.000000,1.007726e+07,93613.000000,16309.000000,0.000537,0.001033,0.001033