In [1]:
import pandas as pd
import numpy as np

In [3]:
popinc = pd.read_csv("https://media.githubusercontent.com/media/MIDS-at-Duke/pds2021-opioids-team-2-ids720/data_merging/20_intermediate_files/population_2000_2020_inc.csv?token=AVKGWH6R74R3SS3OR5KIRQLBQWTYI")
death = pd.read_csv("/Users/Aarushi/Duke/MIDS - Fall 2021/Fall 2021/720_IDS_PDS/pds2021-opioids-team-2-ids720/20_intermediate_files/vital_stata.csv")

In [4]:
# Looking at the distribution of Population and Income data
popinc.head()

,STATE,COUNTY,STNAME,CTYNAME,Year,Population,State_Code,Median_Income_2010,Income_Error_Margin
0,1,1,Alabama,Autauga County,2000,43671.0,AL,53255.0,2420.0
1,1,3,Alabama,Baldwin County,2000,140415.0,AL,50147.0,1046.0
2,1,5,Alabama,Barbour County,2000,29038.0,AL,33219.0,1889.0
3,1,7,Alabama,Bibb County,2000,20826.0,AL,41770.0,3139.0
4,1,9,Alabama,Blount County,2000,51024.0,AL,45549.0,1804.0

In [5]:
#Population Income data types
popinc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65373 entries, 0 to 65372
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   STATE                65373 non-null  int64
 1   COUNTY               65373 non-null  int64
 2   STNAME               65373 non-null  object
 3   CTYNAME              65373 non-null  object
 4   Year                 65373 non-null  int64
 5   Population           65339 non-null  float64
 6   State_Code           65373 non-null  object
 7   Median_Income_2010   64512 non-null  float64
 8   Income_Error_Margin  64512 non-null  float64
dtypes: float64(3), int64(3), object(3)
memory usage: 4.5+ MB

In [6]:
#Vital Statistics data types
death.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9758 entries, 0 to 9757
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       9758 non-null   int64
 1   County                           9758 non-null   object
 2   County Code                      9758 non-null   float64
 3   Year                             9758 non-null   int64
 4   Drug/Alcohol Induced Cause       9758 non-null   object
 5   Drug/Alcohol Induced Cause Code  9758 non-null   object
 6   Deaths                           9758 non-null   object
 7   State_Code                       9758 non-null   object
 8   County_Name                      9758 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 686.2+ KB

In [7]:
# Dropping the unnamed column
death.drop("Unnamed: 0", axis = 1, inplace=True)

In [8]:
# Changing columns name for merging
popinc = popinc.rename({"CTYNAME":"County_Name"}, axis =1)
popinc

,STATE,COUNTY,STNAME,County_Name,Year,Population,State_Code,Median_Income_2010,Income_Error_Margin
0,1,1,Alabama,Autauga County,2000,43671.0,AL,53255.0,2420.0
1,1,3,Alabama,Baldwin County,2000,140415.0,AL,50147.0,1046.0
2,1,5,Alabama,Barbour County,2000,29038.0,AL,33219.0,1889.0
3,1,7,Alabama,Bibb County,2000,20826.0,AL,41770.0,3139.0
4,1,9,Alabama,Blount County,2000,51024.0,AL,45549.0,1804.0
...,...,...,...,...,...,...,...,...,...
65368,56,37,Wyoming,Sweetwater County,2020,42673.0,WY,69828.0,1963.0
65369,56,39,Wyoming,Teton County,2020,23497.0,WY,70271.0,7421.0
65370,56,41,Wyoming,Uinta County,2020,20215.0,WY,58346.0,4424.0
65371,56,43,Wyoming,Washakie County,2020,7760.0,WY,48379.0,4970.0
65372,56,45,Wyoming,Weston County,2020,6743.0,WY,53853.0,6000.0

In [9]:
# Merging Population with Deaths
merged = pd.merge(
    death[
        [
            "County",
            "Year",
            "Drug/Alcohol Induced Cause",
            "Deaths",
            "State_Code",
            "County_Name",
        ]
    ],
    popinc[
        [
            "STNAME",
            "County_Name",
            "Year",
            "State_Code",
            "Population",
            "Median_Income_2010",
            "Income_Error_Margin",
        ]
    ],
    how="left",
    on=["Year", "State_Code", "County_Name"],
    validate="m:1",
    indicator=True,
)

In [10]:
#Viewing the merged dataset
merged.head()

,County,Year,Drug/Alcohol Induced Cause,Deaths,State_Code,County_Name,STNAME,Population,Median_Income_2010,Income_Error_Margin,_merge
0,"Baldwin County, AL",2003,Drug poisonings (overdose) Unintentional (X40-...,10.0,AL,Baldwin County,Alabama,151707.0,50147.0,1046.0,both
1,"Jefferson County, AL",2003,Drug poisonings (overdose) Unintentional (X40-...,37.0,AL,Jefferson County,Alabama,660486.0,45244.0,641.0,both
2,"Mobile County, AL",2003,Drug poisonings (overdose) Unintentional (X40-...,26.0,AL,Mobile County,Alabama,397707.0,40996.0,723.0,both
3,"Cochise County, AZ",2003,Drug poisonings (overdose) Unintentional (X40-...,11.0,AZ,Cochise County,Arizona,121175.0,44876.0,1551.0,both
4,"Coconino County, AZ",2003,Drug poisonings (overdose) Unintentional (X40-...,11.0,AZ,Coconino County,Arizona,121545.0,49510.0,1484.0,both

In [11]:
# Verifying whether the data merged correctly
check = merged[merged["_merge"] != "both"]
check
# There are cases where data was only available in left column

,County,Year,Drug/Alcohol Induced Cause,Deaths,State_Code,County_Name,STNAME,Population,Median_Income_2010,Income_Error_Margin,_merge
93,"District of Columbia, DC",2003,Drug poisonings (overdose) Unintentional (X40-...,90.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
302,"Dona Ana County, NM",2003,Drug poisonings (overdose) Unintentional (X40-...,19.0,NM,Dona Ana County,NaN,NaN,NaN,NaN,left_only
614,"District of Columbia, DC",2004,Drug poisonings (overdose) Unintentional (X40-...,70.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
615,"District of Columbia, DC",2004,Drug poisonings (overdose) Undetermined (Y10-Y14),10.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
839,"Dona Ana County, NM",2004,Drug poisonings (overdose) Unintentional (X40-...,17.0,NM,Dona Ana County,NaN,NaN,NaN,NaN,left_only
1183,"District of Columbia, DC",2005,Drug poisonings (overdose) Unintentional (X40-...,51.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
1184,"District of Columbia, DC",2005,Drug poisonings (overdose) Undetermined (Y10-Y14),19.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
1433,"Dona Ana County, NM",2005,Drug poisonings (overdose) Unintentional (X40-...,18.0,NM,Dona Ana County,NaN,NaN,NaN,NaN,left_only
1790,"District of Columbia, DC",2006,Drug poisonings (overdose) Unintentional (X40-...,85.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
1887,"La Porte County, IN",2006,Drug poisonings (overdose) Unintentional (X40-...,10.0,IN,La Porte County,NaN,NaN,NaN,NaN,left_only
2051,"Dona Ana County, NM",2006,Drug poisonings (overdose) Unintentional (X40-...,26.0,NM,Dona Ana County,NaN,NaN,NaN,NaN,left_only
2468,"District of Columbia, DC",2007,Drug poisonings (overdose) Unintentional (X40-...,38.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
2469,"District of Columbia, DC",2007,Drug poisonings (overdose) Suicide (X60-X64),10.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
2470,"District of Columbia, DC",2007,Drug poisonings (overdose) Undetermined (Y10-Y14),13.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
2573,"La Porte County, IN",2007,Drug poisonings (overdose) Unintentional (X40-...,16.0,IN,La Porte County,NaN,NaN,NaN,NaN,left_only
2750,"Dona Ana County, NM",2007,Drug poisonings (overdose) Unintentional (X40-...,24.0,NM,Dona Ana County,NaN,NaN,NaN,NaN,left_only
3172,"District of Columbia, DC",2008,Drug poisonings (overdose) Unintentional (X40-...,36.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
3173,"District of Columbia, DC",2008,Drug poisonings (overdose) Undetermined (Y10-Y14),12.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
3470,"Dona Ana County, NM",2008,Drug poisonings (overdose) Unintentional (X40-...,23.0,NM,Dona Ana County,NaN,NaN,NaN,NaN,left_only
3925,"District of Columbia, DC",2009,Drug poisonings (overdose) Unintentional (X40-...,14.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
3926,"District of Columbia, DC",2009,Drug poisonings (overdose) Undetermined (Y10-Y14),10.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
4044,"La Porte County, IN",2009,Drug poisonings (overdose) Unintentional (X40-...,10.0,IN,La Porte County,NaN,NaN,NaN,NaN,left_only
4225,"Dona Ana County, NM",2009,Drug poisonings (overdose) Unintentional (X40-...,29.0,NM,Dona Ana County,NaN,NaN,NaN,NaN,left_only
4671,"District of Columbia, DC",2010,Drug poisonings (overdose) Unintentional (X40-...,61.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
4672,"District of Columbia, DC",2010,Drug poisonings (overdose) Undetermined (Y10-Y14),10.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
4791,"La Porte County, IN",2010,Drug poisonings (overdose) Unintentional (X40-...,11.0,IN,La Porte County,NaN,NaN,NaN,NaN,left_only
4994,"Dona Ana County, NM",2010,Drug poisonings (overdose) Unintentional (X40-...,27.0,NM,Dona Ana County,NaN,NaN,NaN,NaN,left_only
5481,"District of Columbia, DC",2011,Drug poisonings (overdose) Unintentional (X40-...,64.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
5482,"District of Columbia, DC",2011,Drug poisonings (overdose) Undetermined (Y10-Y14),15.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
5613,"La Porte County, IN",2011,Drug poisonings (overdose) Unintentional (X40-...,21.0,IN,La Porte County,NaN,NaN,NaN,NaN,left_only
5816,"Dona Ana County, NM",2011,Drug poisonings (overdose) Unintentional (X40-...,26.0,NM,Dona Ana County,NaN,NaN,NaN,NaN,left_only
6333,"District of Columbia, DC",2012,Drug poisonings (overdose) Unintentional (X40-...,61.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
6334,"District of Columbia, DC",2012,Drug poisonings (overdose) Undetermined (Y10-Y14),10.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
6462,"La Porte County, IN",2012,Drug poisonings (overdose) Unintentional (X40-...,15.0,IN,La Porte County,NaN,NaN,NaN,NaN,left_only
6672,"Dona Ana County, NM",2012,Drug poisonings (overdose) Unintentional (X40-...,31.0,NM,Dona Ana County,NaN,NaN,NaN,NaN,left_only
7179,"District of Columbia, DC",2013,Drug poisonings (overdose) Unintentional (X40-...,77.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
7180,"District of Columbia, DC",2013,Drug poisonings (overdose) Suicide (X60-X64),11.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
7181,"District of Columbia, DC",2013,Drug poisonings (overdose) Undetermined (Y10-Y14),13.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
7303,"La Porte County, IN",2013,Drug poisonings (overdose) Unintentional (X40-...,16.0,IN,La Porte County,NaN,NaN,NaN,NaN,left_only
7515,"Dona Ana County, NM",2013,Drug poisonings (overdose) Unintentional (X40-...,23.0,NM,Dona Ana County,NaN,NaN,NaN,NaN,left_only
8037,"District of Columbia, DC",2014,Drug poisonings (overdose) Unintentional (X40-...,80.0,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
8175,"La Porte County, IN",2014,Drug poisonings (overdose) Unintentional (X40-...,20.0,IN,La Porte County,NaN,NaN,NaN,NaN,left_only
8385,"Dona Ana County, NM",2014,Drug poisonings (overdose) Unintentional (X40-...,33.0,NM,Dona Ana County,NaN,NaN,NaN,NaN,left_only
8934,"District of Columbia, DC",2015,Drug poisonings (overdose) Unintentional (X40-...,114,DC,District of Columbia,NaN,NaN,NaN,NaN,left_only
9071,"La Porte County, IN",2015,Drug poisonings (overdose) Unintentional (X40-...,14,IN,La Porte County,NaN,NaN,NaN,NaN,left_only
9299,"Dona Ana County, NM",2015,Drug poisonings (overdose) Unintentional (X40-...,33,NM,Dona Ana County,NaN,NaN,NaN,NaN,left_only
9518,"Mc Kean County, PA",2015,Drug poisonings (overdose) Unintentional (X40-...,11,PA,Mc Kean County,NaN,NaN,NaN,NaN,left_only
9680,"Clifton Forge city, VA",2015,Drug poisonings (overdose) Unintentional (X40-...,Missing,VA,Clifton Forge city,NaN,NaN,NaN,NaN,left_only
9681,"Clifton Forge city, VA",2015,Drug poisonings (overdose) Suicide (X60-X64),Missing,VA,Clifton Forge city,NaN,NaN,NaN,NaN,left_only
9682,"Clifton Forge city, VA",2015,Drug poisonings (overdose) Homicide (X85),Missing,VA,Clifton Forge city,NaN,NaN,NaN,NaN,left_only
9683,"Clifton Forge city, VA",2015,Drug poisonings (overdose) Undetermined (Y10-Y14),Missing,VA,Clifton Forge city,NaN,NaN,NaN,NaN,left_only

In [12]:
#Checking the counties where we did not have population and income data
check.County.value_counts()

District of Columbia, DC    24
Dona Ana County, NM         13
La Porte County, IN          9
Clifton Forge city, VA       4
Mc Kean County, PA           1
Name: County, dtype: int64

In [13]:
#Checking how many values by state are unavailable
check.State_Code.value_counts()

DC    24
NM    13
IN     9
VA     4
PA     1
Name: State_Code, dtype: int64

In [14]:
#Checking unavailable values based on year
check.Year.value_counts().sort_values()

2003    2
2004    3
2005    3
2006    3
2008    3
2014    3
2009    4
2010    4
2011    4
2012    4
2007    5
2013    5
2015    8
Name: Year, dtype: int64

For now we will leave these values as it is, and proceed with calculating deaths per capita to select the states, for our analysis. If the per capita rate for any of these states is close to our Analysis states (TX,FL, WA) we can think of how to impute these values

In [15]:
# Calculating county wise death per capita
# Replacing the "Missing" value in Death column by Nan
merged = merged.replace("Missing", np.NaN)
merged.info() #Checking the datatype of Deaths column

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9758 entries, 0 to 9757
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   County                      9758 non-null   object
 1   Year                        9758 non-null   int64
 2   Drug/Alcohol Induced Cause  9758 non-null   object
 3   Deaths                      9750 non-null   object
 4   State_Code                  9758 non-null   object
 5   County_Name                 9758 non-null   object
 6   STNAME                      9707 non-null   object
 7   Population                  9703 non-null   float64
 8   Median_Income_2010          9595 non-null   float64
 9   Income_Error_Margin         9595 non-null   float64
 10  _merge                      9758 non-null   category
dtypes: category(1), float64(3), int64(1), object(6)
memory usage: 848.2+ KB

In [16]:
#Changing datatype of death column to float to calculate the death per cap
merged["Deaths"]= merged.Deaths.astype(str).astype(float)
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9758 entries, 0 to 9757
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   County                      9758 non-null   object
 1   Year                        9758 non-null   int64
 2   Drug/Alcohol Induced Cause  9758 non-null   object
 3   Deaths                      9750 non-null   float64
 4   State_Code                  9758 non-null   object
 5   County_Name                 9758 non-null   object
 6   STNAME                      9707 non-null   object
 7   Population                  9703 non-null   float64
 8   Median_Income_2010          9595 non-null   float64
 9   Income_Error_Margin         9595 non-null   float64
 10  _merge                      9758 non-null   category
dtypes: category(1), float64(4), int64(1), object(5)
memory usage: 848.2+ KB

In [17]:
merged["Death_per_cap"] = (merged["Deaths"] / merged ["Population"])

In [18]:
merged.columns

Index(['County', 'Year', 'Drug/Alcohol Induced Cause', 'Deaths', 'State_Code',
       'County_Name', 'STNAME', 'Population', 'Median_Income_2010',
       'Income_Error_Margin', '_merge', 'Death_per_cap'],
      dtype='object')

In [19]:
#Reordering the columns 
merged = merged[
    [
        "Year",
        "State_Code",
        "STNAME",
        "County_Name",
        "County",
        "Population",
        "Drug/Alcohol Induced Cause",
        "Deaths",
        "Median_Income_2010",
        "Income_Error_Margin",
        "_merge",
        "Death_per_cap",
    ]
]

In [20]:
#Renaming columns
merged = merged.rename({"STNAME":"State","County":"ST_CT_Name"})

In [21]:
# Looking at the death per cap values to shortlist the control states for our analysis
merged.groupby(by=(["State_Code"])).mean().sort_values(by="Death_per_cap")

,Year,Population,Deaths,Median_Income_2010,Income_Error_Margin,Death_per_cap
State_Code,,,,,,
NE,2009.703704,4.160983e+05,21.185185,52104.370370,651.629630,0.000051
ND,2014.000000,1.667920e+05,10.000000,47600.000000,1333.000000,0.000060
HI,2009.500000,6.224909e+05,30.782609,65030.282609,1120.130435,0.000060
MN,2010.117647,5.634101e+05,28.509804,62070.441176,772.254902,0.000061
OR,2009.346405,4.094911e+05,25.588235,50369.816993,917.934641,0.000073
NY,2010.211538,9.703501e+05,51.156593,59815.131868,954.021978,0.000074
IA,2009.777778,2.987763e+05,20.111111,53720.555556,1013.911111,0.000075
KS,2009.869565,3.531110e+05,23.333333,55328.652174,962.507246,0.000079
UT,2009.563492,5.454859e+05,39.333333,57736.412698,785.349206,0.000082
TX,2009.430168,8.232719e+05,40.992551,52012.150838,1046.951583,0.000082
CO,2009.223256,4.340095e+05,33.744186,57725.795349,919.311628,0.000083
CA,2009.213904,1.422832e+06,63.140374,61275.832888,1003.554813,0.000088
SD,2012.200000,1.625736e+05,14.000000,50809.000000,1169.800000,0.000090
AZ,2009.482558,1.165645e+06,69.087209,46440.686047,887.569767,0.000092
CT,2009.439024,5.713288e+05,42.471545,67853.886179,1048.853659,0.000092
AR,2010.156627,2.024542e+05,15.180723,43914.000000,1160.385542,0.000095
MA,2009.107143,6.921038e+05,57.341837,63709.250000,938.811224,0.000097
NJ,2009.350195,4.875392e+05,40.334630,70128.019455,1153.949416,0.000098
MI,2009.462462,5.911913e+05,38.279279,50503.930931,848.333333,0.000098
MD,2009.917031,4.733539e+05,37.755459,75772.631068,1333.412621,0.000099
DE,2009.833333,3.578300e+05,32.047619,57268.809524,1021.976190,0.000099
WI,2010.144578,3.644863e+05,31.421687,54682.861446,978.259036,0.000099
ID,2010.866667,2.346102e+05,18.755556,50482.311111,1238.844444,0.000100
WA,2009.116541,5.414894e+05,37.812030,55296.093985,1105.139098,0.000100
IL,2009.852321,9.606591e+05,57.438819,59154.223629,983.531646,0.000101
FL,2009.141085,6.418094e+05,48.945736,48463.741085,923.227907,0.000102
MT,2010.250000,1.137271e+05,12.142857,45442.642857,1468.535714,0.000116
GA,2009.912121,2.874206e+05,21.772727,52554.836364,1467.412121,0.000117
ME,2009.466667,1.777978e+05,19.983333,49268.250000,1302.633333,0.000118
PA,2009.485876,4.199965e+05,43.209040,51786.756604,948.266038,0.000127
SC,2009.570707,2.337227e+05,26.398990,45956.792929,1212.277778,0.000128
NV,2009.014925,9.325815e+05,90.462687,54432.253731,1025.910448,0.000128
NH,2009.898551,2.267697e+05,25.289855,64050.144928,1363.985507,0.000131
RI,2009.458333,3.646882e+05,42.500000,57578.312500,1339.479167,0.000135
NC,2009.587719,2.304361e+05,20.763158,44846.655702,1341.567982,0.000137
MO,2009.652850,3.610444e+05,34.476684,49169.911917,1166.274611,0.000146
VT,2012.250000,1.081335e+05,13.250000,54324.333333,1502.166667,0.000146
AL,2010.266272,2.058952e+05,24.035503,44499.230769,1298.828402,0.000148
IN,2010.055363,2.485328e+05,22.996540,48009.742857,1205.110714,0.000149
VA,2009.888889,2.753623e+05,18.080851,64596.853333,1676.673333,0.000150
OH,2010.008316,3.609148e+05,39.417879,48225.656965,1104.798337,0.000159
WY,2012.133333,8.064153e+04,12.733333,52773.933333,1909.733333,0.000166
LA,2009.107317,1.928442e+05,29.224390,45975.863415,1515.560976,0.000167
OK,2010.201183,2.726381e+05,28.840237,44188.355030,1381.473373,0.000169
TN,2009.973941,2.344365e+05,25.843648,44842.703583,1386.928339,0.000173
MS,2009.400000,1.292383e+05,21.307692,47912.938462,1991.538462,0.000189
NM,2009.320896,2.147207e+05,31.768657,45726.082645,1647.363636,0.000217
KY,2009.952206,1.394884e+05,22.650735,40382.466912,1962.363971,0.000322
WV,2010.434783,6.561918e+04,21.596273,38389.341615,2065.459627,0.000417
DC,2009.000000,NaN,40.583333,NaN,NaN,NaN

In [22]:
# For WA - IL, ID, WI
# For FL - IL, WA, ID
# For TX - UT, CO, KS

In [23]:
merged.to_csv('/Users/Aarushi/Duke/MIDS - Fall 2021/Fall 2021/720_IDS_PDS/pds2021-opioids-team-2-ids720/20_intermediate_files/mortality_merged.csv', encoding='utf-8')

In [24]:
merged.head()

,Year,State_Code,STNAME,County_Name,County,Population,Drug/Alcohol Induced Cause,Deaths,Median_Income_2010,Income_Error_Margin,_merge,Death_per_cap
0,2003,AL,Alabama,Baldwin County,"Baldwin County, AL",151707.0,Drug poisonings (overdose) Unintentional (X40-...,10.0,50147.0,1046.0,both,0.000066
1,2003,AL,Alabama,Jefferson County,"Jefferson County, AL",660486.0,Drug poisonings (overdose) Unintentional (X40-...,37.0,45244.0,641.0,both,0.000056
2,2003,AL,Alabama,Mobile County,"Mobile County, AL",397707.0,Drug poisonings (overdose) Unintentional (X40-...,26.0,40996.0,723.0,both,0.000065
3,2003,AZ,Arizona,Cochise County,"Cochise County, AZ",121175.0,Drug poisonings (overdose) Unintentional (X40-...,11.0,44876.0,1551.0,both,0.000091
4,2003,AZ,Arizona,Coconino County,"Coconino County, AZ",121545.0,Drug poisonings (overdose) Unintentional (X40-...,11.0,49510.0,1484.0,both,0.000091