In [1]:
import pandas as pd
import numpy as np

In [2]:
popinc = pd.read_csv("https://media.githubusercontent.com/media/MIDS-at-Duke/pds2021-opioids-team-2-ids720/data_merging/20_intermediate_files/population_2000_2020_inc.csv?token=AVKGWH2N3GJOSV7PN25V2S3BS4GYE")
death = pd.read_csv("/Users/Aarushi/Duke/MIDS - Fall 2021/Fall 2021/720_IDS_PDS/pds2021-opioids-team-2-ids720/20_intermediate_files/vital_stata.csv")

In [3]:
# Looking at the distribution of Population and Income data
popinc.head()

,STATE,COUNTY,STNAME,CTYNAME,Year,Population,State_Code,fips_code,Median_Income_2010,Income_Error_Margin
0,1,1,Alabama,Autauga County,2000,43671.0,AL,1001,53255.0,2420.0
1,1,3,Alabama,Baldwin County,2000,140415.0,AL,1003,50147.0,1046.0
2,1,5,Alabama,Barbour County,2000,29038.0,AL,1005,33219.0,1889.0
3,1,7,Alabama,Bibb County,2000,20826.0,AL,1007,41770.0,3139.0
4,1,9,Alabama,Blount County,2000,51024.0,AL,1009,45549.0,1804.0

In [4]:
#Population Income data types
popinc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65373 entries, 0 to 65372
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   STATE                65373 non-null  int64
 1   COUNTY               65373 non-null  int64
 2   STNAME               65373 non-null  object
 3   CTYNAME              65373 non-null  object
 4   Year                 65373 non-null  int64
 5   Population           65339 non-null  float64
 6   State_Code           65373 non-null  object
 7   fips_code            65373 non-null  int64
 8   Median_Income_2010   64512 non-null  float64
 9   Income_Error_Margin  64512 non-null  float64
dtypes: float64(3), int64(4), object(3)
memory usage: 5.0+ MB

In [5]:
death.head()

,Unnamed: 0,County,County Code,Year,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,State_Code,County_Name
0,1,"Baldwin County, AL",1003.0,2003,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0,AL,Baldwin County
1,38,"Jefferson County, AL",1073.0,2003,Drug poisonings (overdose) Unintentional (X40-...,D1,37.0,AL,Jefferson County
2,39,"Jefferson County, AL",1073.0,2003,All other drug-induced causes,D9,32.0,AL,Jefferson County
3,54,"Mobile County, AL",1097.0,2003,Drug poisonings (overdose) Unintentional (X40-...,D1,26.0,AL,Mobile County
4,106,"Cochise County, AZ",4003.0,2003,Drug poisonings (overdose) Unintentional (X40-...,D1,11.0,AZ,Cochise County

In [6]:
Texas = death[death["State_Code"]== "TX" ]

for i in Texas.Deaths.unique():
    print (i)

84.0
25.0
54.0
13.0
26.0
10.0
124.0
36.0
21.0
18.0
15.0
52.0
11.0
27.0
244.0
69.0
24.0
16.0
14.0
45.0
12.0
37.0
17.0
112.0
66.0
92.0
20.0
41.0
19.0
30.0
144.0
22.0
29.0
293.0
62.0
28.0
108.0
74.0
140.0
31.0
32.0
169.0
40.0
44.0
290.0
34.0
91.0
61.0
23.0
135.0
171.0
59.0
49.0
348.0
46.0
33.0
51.0
73.0
48.0
94.0
78.0
104.0
193.0
425.0
68.0
35.0
58.0
118.0
75.0
146.0
150.0
39.0
42.0
115.0
172.0
181.0
55.0
343.0
65.0
53.0
136.0
95.0
168.0
163.0
43.0
375.0
70.0
98.0
227.0
194.0
332.0
47.0
151.0
174.0
206.0
297.0
159.0
152.0
208.0
370.0
117.0
134.0
161.0
345.0
56.0
170.0
110.0
23
179
11
29
17
44
13
15
256
25
14
47
10
12
57
49
407
45
22
24
27
21
48
53
19
146
18
118

In [7]:
death.Deaths.min()

'10'

In [8]:
death.Deaths.max()

'Missing'

In [9]:
#Vital Statistics data types
death.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10383 entries, 0 to 10382
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       10383 non-null  int64
 1   County                           10383 non-null  object
 2   County Code                      10383 non-null  float64
 3   Year                             10383 non-null  int64
 4   Drug/Alcohol Induced Cause       10383 non-null  object
 5   Drug/Alcohol Induced Cause Code  10383 non-null  object
 6   Deaths                           10383 non-null  object
 7   State_Code                       10383 non-null  object
 8   County_Name                      10383 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 730.2+ KB

In [10]:
death["Drug/Alcohol Induced Cause"].unique()

array(['Drug poisonings (overdose) Unintentional (X40-X44)',
       'All other drug-induced causes',
       'Drug poisonings (overdose) Suicide (X60-X64)',
       'Drug poisonings (overdose) Undetermined (Y10-Y14)',
       'Drug poisonings (overdose) Homicide (X85)'], dtype=object)

In [11]:
for i in death.Deaths.unique():
    print(i)

10.0
37.0
32.0
26.0
11.0
273.0
63.0
47.0
145.0
14.0
18.0
15.0
96.0
17.0
40.0
53.0
66.0
38.0
79.0
13.0
616.0
93.0
21.0
132.0
19.0
29.0
152.0
50.0
16.0
28.0
128.0
22.0
24.0
111.0
20.0
103.0
222.0
65.0
91.0
23.0
33.0
45.0
41.0
12.0
55.0
31.0
42.0
67.0
73.0
97.0
70.0
90.0
83.0
170.0
60.0
107.0
27.0
114.0
61.0
82.0
175.0
52.0
112.0
48.0
34.0
25.0
62.0
410.0
46.0
30.0
72.0
86.0
49.0
137.0
253.0
99.0
89.0
121.0
117.0
56.0
160.0
206.0
36.0
44.0
130.0
131.0
205.0
35.0
88.0
176.0
57.0
238.0
81.0
54.0
84.0
124.0
244.0
69.0
77.0
58.0
120.0
320.0
113.0
85.0
75.0
542.0
150.0
43.0
161.0
140.0
135.0
125.0
225.0
74.0
51.0
87.0
39.0
94.0
190.0
59.0
127.0
142.0
459.0
223.0
188.0
239.0
115.0
129.0
71.0
126.0
76.0
173.0
286.0
92.0
144.0
293.0
108.0
109.0
180.0
346.0
68.0
523.0
98.0
151.0
174.0
141.0
228.0
106.0
104.0
224.0
139.0
105.0
469.0
101.0
203.0
118.0
209.0
185.0
276.0
136.0
147.0
165.0
116.0
102.0
356.0
169.0
290.0
189.0
400.0
157.0
563.0
138.0
163.0
122.0
245.0
215.0
158.0
162.0
179.0
705.0
64.0
226.0
143.0
100.0
295.0
172.0
285.0
227.0
168.0
399.0
171.0
348.0
78.0
216.0
411.0
636.0
178.0
159.0
269.0
153.0
231.0
110.0
220.0
202.0
462.0
234.0
251.0
80.0
306.0
198.0
197.0
195.0
326.0
193.0
425.0
212.0
95.0
404.0
572.0
182.0
201.0
277.0
242.0
218.0
119.0
236.0
472.0
123.0
134.0
289.0
167.0
181.0
211.0
353.0
146.0
432.0
627.0
267.0
200.0
194.0
288.0
149.0
237.0
446.0
184.0
133.0
271.0
329.0
155.0
325.0
343.0
468.0
552.0
213.0
439.0
164.0
196.0
315.0
375.0
191.0
473.0
156.0
561.0
330.0
186.0
450.0
379.0
154.0
229.0
408.0
332.0
456.0
566.0
335.0
545.0
148.0
266.0
262.0
258.0
436.0
297.0
525.0
683.0
270.0
347.0
543.0
183.0
192.0
357.0
351.0
241.0
255.0
199.0
249.0
378.0
208.0
370.0
214.0
538.0
621.0
287.0
345.0
240.0
424.0
331.0
248.0
485.0
230.0
40
11
20
17
22
10
154
23
14
38
24
64
12
15
28
572
80
54
57
45
13
186
29
16
36
176
63
93
126
35
34
196
27
645
74
19
307
61
33
295
21
238
72
25
340
73
31
179
105
43
65
59
118
49
71
97
42
106
26
67
81
32
107
18
119
44
125
189
192
30
95
114
132
252
41
48
146
51
156
90
137
169
39
173
37
263
161
86
83
53
84
50
100
139
624
55
88
66
232
47
46
103
184
102
116
96
168
58
78
241
62
155
217
104
299
148
157
183
207
94
187
539
115
76
79
109
142
371
70
152
85
82
143
108
75
170
213
56
221
177
140
89
101
98
194
277
282
336
60
240
124
52
91
398
87
127
549
130
195
138
165
256
407
Missing
110

In [12]:
death = death.replace("Missing", np.NaN)

In [13]:
death.Deaths.value_counts()

10.0     857
11.0     705
12.0     579
13.0     552
14.0     446
        ...
183.0      1
192.0      1
357.0      1
351.0      1
110        1
Name: Deaths, Length: 472, dtype: int64

In [14]:
death["Deaths"] = death["Deaths"].astype(float)

In [15]:
for i in death.Deaths.unique():
    print(i)

10.0
37.0
32.0
26.0
11.0
273.0
63.0
47.0
145.0
14.0
18.0
15.0
96.0
17.0
40.0
53.0
66.0
38.0
79.0
13.0
616.0
93.0
21.0
132.0
19.0
29.0
152.0
50.0
16.0
28.0
128.0
22.0
24.0
111.0
20.0
103.0
222.0
65.0
91.0
23.0
33.0
45.0
41.0
12.0
55.0
31.0
42.0
67.0
73.0
97.0
70.0
90.0
83.0
170.0
60.0
107.0
27.0
114.0
61.0
82.0
175.0
52.0
112.0
48.0
34.0
25.0
62.0
410.0
46.0
30.0
72.0
86.0
49.0
137.0
253.0
99.0
89.0
121.0
117.0
56.0
160.0
206.0
36.0
44.0
130.0
131.0
205.0
35.0
88.0
176.0
57.0
238.0
81.0
54.0
84.0
124.0
244.0
69.0
77.0
58.0
120.0
320.0
113.0
85.0
75.0
542.0
150.0
43.0
161.0
140.0
135.0
125.0
225.0
74.0
51.0
87.0
39.0
94.0
190.0
59.0
127.0
142.0
459.0
223.0
188.0
239.0
115.0
129.0
71.0
126.0
76.0
173.0
286.0
92.0
144.0
293.0
108.0
109.0
180.0
346.0
68.0
523.0
98.0
151.0
174.0
141.0
228.0
106.0
104.0
224.0
139.0
105.0
469.0
101.0
203.0
118.0
209.0
185.0
276.0
136.0
147.0
165.0
116.0
102.0
356.0
169.0
290.0
189.0
400.0
157.0
563.0
138.0
163.0
122.0
245.0
215.0
158.0
162.0
179.0
705.0
64.0
226.0
143.0
100.0
295.0
172.0
285.0
227.0
168.0
399.0
171.0
348.0
78.0
216.0
411.0
636.0
178.0
159.0
269.0
153.0
231.0
110.0
220.0
202.0
462.0
234.0
251.0
80.0
306.0
198.0
197.0
195.0
326.0
193.0
425.0
212.0
95.0
404.0
572.0
182.0
201.0
277.0
242.0
218.0
119.0
236.0
472.0
123.0
134.0
289.0
167.0
181.0
211.0
353.0
146.0
432.0
627.0
267.0
200.0
194.0
288.0
149.0
237.0
446.0
184.0
133.0
271.0
329.0
155.0
325.0
343.0
468.0
552.0
213.0
439.0
164.0
196.0
315.0
375.0
191.0
473.0
156.0
561.0
330.0
186.0
450.0
379.0
154.0
229.0
408.0
332.0
456.0
566.0
335.0
545.0
148.0
266.0
262.0
258.0
436.0
297.0
525.0
683.0
270.0
347.0
543.0
183.0
192.0
357.0
351.0
241.0
255.0
199.0
249.0
378.0
208.0
370.0
214.0
538.0
621.0
287.0
345.0
240.0
424.0
331.0
248.0
485.0
230.0
645.0
307.0
340.0
252.0
263.0
624.0
232.0
217.0
299.0
207.0
187.0
539.0
371.0
221.0
177.0
282.0
336.0
398.0
549.0
256.0
407.0
nan

In [16]:
death.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10383 entries, 0 to 10382
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       10383 non-null  int64
 1   County                           10383 non-null  object
 2   County Code                      10383 non-null  float64
 3   Year                             10383 non-null  int64
 4   Drug/Alcohol Induced Cause       10383 non-null  object
 5   Drug/Alcohol Induced Cause Code  10383 non-null  object
 6   Deaths                           10373 non-null  float64
 7   State_Code                       10383 non-null  object
 8   County_Name                      10383 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 730.2+ KB

In [17]:
# Collapsing the dataset to get total number of deaths per county per year
mortality = death.groupby(["Year","State_Code","County_Name"], as_index=False)['Deaths'].apply(lambda x: x.sum())
mortality.head()

   Year State_Code       County_Name  Deaths
0  2003         AL    Baldwin County    10.0
1  2003         AL  Jefferson County    69.0
2  2003         AL     Mobile County    26.0
3  2003         AR    Pulaski County    18.0
4  2003         AZ    Cochise County    11.0

In [18]:
# death.Deaths.isnull().sum()
# death.Deaths.isna().sum()
# death[death["Deaths"] == "" ]

In [19]:
# import re
# # exp = "\s+"
# for i in death["Deaths"].unique():
#     if re.match(exp,i):
#         print(i)

In [20]:
# for i in death["Deaths"].unique():
#     print(i)

In [21]:
# Changing columns name for merging
popinc = popinc.rename({"CTYNAME":"County_Name"}, axis =1)
popinc

,STATE,COUNTY,STNAME,County_Name,Year,Population,State_Code,fips_code,Median_Income_2010,Income_Error_Margin
0,1,1,Alabama,Autauga County,2000,43671.0,AL,1001,53255.0,2420.0
1,1,3,Alabama,Baldwin County,2000,140415.0,AL,1003,50147.0,1046.0
2,1,5,Alabama,Barbour County,2000,29038.0,AL,1005,33219.0,1889.0
3,1,7,Alabama,Bibb County,2000,20826.0,AL,1007,41770.0,3139.0
4,1,9,Alabama,Blount County,2000,51024.0,AL,1009,45549.0,1804.0
...,...,...,...,...,...,...,...,...,...,...
65368,56,37,Wyoming,Sweetwater County,2020,42673.0,WY,56037,69828.0,1963.0
65369,56,39,Wyoming,Teton County,2020,23497.0,WY,56039,70271.0,7421.0
65370,56,41,Wyoming,Uinta County,2020,20215.0,WY,56041,58346.0,4424.0
65371,56,43,Wyoming,Washakie County,2020,7760.0,WY,56043,48379.0,4970.0
65372,56,45,Wyoming,Weston County,2020,6743.0,WY,56045,53853.0,6000.0

In [22]:
# Merging Population with Deaths
merged = pd.merge(
    mortality[
        [
            "Year",
            "State_Code",
            "County_Name",
            "Deaths"
        ]
    ],
    popinc[
        [
            "County_Name",
            "Year",
            "State_Code",
            "Population",
            "Median_Income_2010",
            "Income_Error_Margin",
        ]
    ],
    how="left",
    on=["Year", "State_Code", "County_Name"],
    validate="m:1",
    indicator=True,
)

In [23]:
# Merging Population with Deaths
merged = pd.merge(
    mortality[
        [
            "Year",
            "State_Code",
            "County_Name",
            "Deaths"
        ]
    ],
    popinc[
        [
            "County_Name",
            "Year",
            "State_Code",
            "Population",
            "Median_Income_2010",
            "Income_Error_Margin",
        ]
    ],
    how="outer",
    on=["Year", "State_Code", "County_Name"],
    validate="m:1",
    indicator=True,
)

In [24]:
#Viewing the merged dataset
merged.head()

,Year,State_Code,County_Name,Deaths,Population,Median_Income_2010,Income_Error_Margin,_merge
0,2003,AL,Baldwin County,10.0,151707.0,50147.0,1046.0,both
1,2003,AL,Jefferson County,69.0,660486.0,45244.0,641.0,both
2,2003,AL,Mobile County,26.0,397707.0,40996.0,723.0,both
3,2003,AR,Pulaski County,18.0,366375.0,45121.0,783.0,both
4,2003,AZ,Cochise County,11.0,121175.0,44876.0,1551.0,both

In [25]:
merged.loc[merged["Population"].isna()]["State_Code"].unique()

array(['DC', 'NM', 'IN', 'PA', 'VA', 'CO', 'LA', 'SD'], dtype=object)

In [26]:
merged.loc[merged["Deaths"].isna()]["State_Code"].unique()

array(['AL', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID',
       'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN',
       'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND',
       'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT',
       'VA', 'WA', 'WV', 'WI', 'WY'], dtype=object)

In [27]:
[merged["Deaths"].isna().sum()]

[57520]

In [28]:
# Verifying whether the data merged correctly
check = merged[merged["_merge"] != "both"]
check
# There are cases where data was only available in left column

,Year,State_Code,County_Name,Deaths,Population,Median_Income_2010,Income_Error_Margin,_merge
59,2003,DC,District of Columbia,106.0,NaN,NaN,NaN,left_only
251,2003,NM,Dona Ana County,19.0,NaN,NaN,NaN,left_only
468,2004,DC,District of Columbia,102.0,NaN,NaN,NaN,left_only
676,2004,NM,Dona Ana County,17.0,NaN,NaN,NaN,left_only
925,2005,DC,District of Columbia,87.0,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...
65405,2020,WY,Sweetwater County,NaN,42673.0,69828.0,1963.0,right_only
65406,2020,WY,Teton County,NaN,23497.0,70271.0,7421.0,right_only
65407,2020,WY,Uinta County,NaN,20215.0,58346.0,4424.0,right_only
65408,2020,WY,Washakie County,NaN,7760.0,48379.0,4970.0,right_only
65409,2020,WY,Weston County,NaN,6743.0,53853.0,6000.0,right_only

In [29]:
check_right = merged[merged["_merge"] == "right_only"]
check_right

,Year,State_Code,County_Name,Deaths,Population,Median_Income_2010,Income_Error_Margin,_merge
7890,2000,AL,Autauga County,NaN,43671.0,53255.0,2420.0,right_only
7891,2000,AL,Baldwin County,NaN,140415.0,50147.0,1046.0,right_only
7892,2000,AL,Barbour County,NaN,29038.0,33219.0,1889.0,right_only
7893,2000,AL,Bibb County,NaN,20826.0,41770.0,3139.0,right_only
7894,2000,AL,Blount County,NaN,51024.0,45549.0,1804.0,right_only
...,...,...,...,...,...,...,...,...
65405,2020,WY,Sweetwater County,NaN,42673.0,69828.0,1963.0,right_only
65406,2020,WY,Teton County,NaN,23497.0,70271.0,7421.0,right_only
65407,2020,WY,Uinta County,NaN,20215.0,58346.0,4424.0,right_only
65408,2020,WY,Washakie County,NaN,7760.0,48379.0,4970.0,right_only
65409,2020,WY,Weston County,NaN,6743.0,53853.0,6000.0,right_only

In [30]:
check[check["_merge"] == "left_only"]

,Year,State_Code,County_Name,Deaths,Population,Median_Income_2010,Income_Error_Margin,_merge
59,2003,DC,District of Columbia,106.0,NaN,NaN,NaN,left_only
251,2003,NM,Dona Ana County,19.0,NaN,NaN,NaN,left_only
468,2004,DC,District of Columbia,102.0,NaN,NaN,NaN,left_only
676,2004,NM,Dona Ana County,17.0,NaN,NaN,NaN,left_only
925,2005,DC,District of Columbia,87.0,NaN,NaN,NaN,left_only
1157,2005,NM,Dona Ana County,18.0,NaN,NaN,NaN,left_only
1408,2006,DC,District of Columbia,113.0,NaN,NaN,NaN,left_only
1488,2006,IN,La Porte County,10.0,NaN,NaN,NaN,left_only
1656,2006,NM,Dona Ana County,26.0,NaN,NaN,NaN,left_only
1944,2007,DC,District of Columbia,90.0,NaN,NaN,NaN,left_only
2034,2007,IN,La Porte County,16.0,NaN,NaN,NaN,left_only
2205,2007,NM,Dona Ana County,24.0,NaN,NaN,NaN,left_only
2516,2008,DC,District of Columbia,69.0,NaN,NaN,NaN,left_only
2799,2008,NM,Dona Ana County,23.0,NaN,NaN,NaN,left_only
3116,2009,DC,District of Columbia,56.0,NaN,NaN,NaN,left_only
3214,2009,IN,La Porte County,10.0,NaN,NaN,NaN,left_only
3394,2009,NM,Dona Ana County,29.0,NaN,NaN,NaN,left_only
3712,2010,DC,District of Columbia,83.0,NaN,NaN,NaN,left_only
3817,2010,IN,La Porte County,11.0,NaN,NaN,NaN,left_only
4013,2010,NM,Dona Ana County,27.0,NaN,NaN,NaN,left_only
4367,2011,DC,District of Columbia,79.0,NaN,NaN,NaN,left_only
4479,2011,IN,La Porte County,21.0,NaN,NaN,NaN,left_only
4680,2011,NM,Dona Ana County,26.0,NaN,NaN,NaN,left_only
5054,2012,DC,District of Columbia,71.0,NaN,NaN,NaN,left_only
5168,2012,IN,La Porte County,15.0,NaN,NaN,NaN,left_only
5368,2012,NM,Dona Ana County,31.0,NaN,NaN,NaN,left_only
5740,2013,DC,District of Columbia,112.0,NaN,NaN,NaN,left_only
5846,2013,IN,La Porte County,16.0,NaN,NaN,NaN,left_only
6050,2013,NM,Dona Ana County,23.0,NaN,NaN,NaN,left_only
6444,2014,DC,District of Columbia,90.0,NaN,NaN,NaN,left_only
6561,2014,IN,La Porte County,20.0,NaN,NaN,NaN,left_only
6769,2014,NM,Dona Ana County,33.0,NaN,NaN,NaN,left_only
7190,2015,DC,District of Columbia,114.0,NaN,NaN,NaN,left_only
7308,2015,IN,La Porte County,14.0,NaN,NaN,NaN,left_only
7537,2015,NM,Dona Ana County,33.0,NaN,NaN,NaN,left_only
7687,2015,PA,Mc Kean County,11.0,NaN,NaN,NaN,left_only
7806,2015,VA,Clifton Forge city,0.0,NaN,NaN,NaN,left_only

In [31]:
merged["Deaths"] = merged["Deaths"].apply(lambda x: x if not np.isnan(x) else np.random.randint(0, 10))

In [32]:
[merged["Deaths"].isna().sum()]

[0]

In [33]:
#Checking the counties where we did not have population and income data
check[check["_merge"]=="left_only"].County_Name.value_counts()

District of Columbia    13
Dona Ana County         13
La Porte County          9
Mc Kean County           1
Clifton Forge city       1
Name: County_Name, dtype: int64

In [34]:
#Checking how many values by state are unavailable
check[check["_merge"]=="left_only"].State_Code.value_counts()

DC    13
NM    13
IN     9
PA     1
VA     1
Name: State_Code, dtype: int64

In [35]:
#Checking unavailable values based on year
check[check["_merge"]=="left_only"].Year.value_counts().sort_values()

2003    2
2004    2
2005    2
2008    2
2006    3
2007    3
2009    3
2010    3
2011    3
2012    3
2013    3
2014    3
2015    5
Name: Year, dtype: int64

For now we will leave these values as it is, and proceed with calculating deaths per capita to select the states, for our analysis. If the per capita rate for any of these states is close to our Analysis states (TX,FL, WA) we can think of how to impute these values

In [36]:
# Checking rows where number of deaths is not available
merged[merged["Deaths"]==np.NaN]

Empty DataFrame
Columns: [Year, State_Code, County_Name, Deaths, Population, Median_Income_2010, Income_Error_Margin, _merge]
Index: []

In [37]:
#Checking if there are any missing values in the merged dataset for population
#merged.loc[merged["Population"].isna()]
# Here we see that most of the values are similar to the issue in the left merge column implying that we do not have population and income data for those specific counties 
#However we have 4 rows where the population datat is missing in the population file as well.
#On further review, it is for BEdford City, VA and the poppulation estimate as per google is ~7000 which is pretty irrelevant imo

In [38]:
# Calculating county wise death per capita
# Replacing the "Missing" value in Death column by Nan
#merged = merged.replace("Missing", np.NaN)
#merged.info() #Checking the datatype of Deaths column

In [39]:
merged["Death_per_cap"] = (merged["Deaths"] / merged ["Population"])

In [40]:
merged.columns

Index(['Year', 'State_Code', 'County_Name', 'Deaths', 'Population',
       'Median_Income_2010', 'Income_Error_Margin', '_merge', 'Death_per_cap'],
      dtype='object')

In [41]:
#Reordering the columns 
merged = merged[
    [
        "Year",
        "State_Code",
        "County_Name",
        "Population",
        "Deaths",
        "Death_per_cap",
        "Median_Income_2010",
        "Income_Error_Margin",
        "_merge",

    ]
]

In [42]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65410 entries, 0 to 65409
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 65410 non-null  int64
 1   State_Code           65410 non-null  object
 2   County_Name          65410 non-null  object
 3   Population           65339 non-null  float64
 4   Deaths               65410 non-null  float64
 5   Death_per_cap        65339 non-null  float64
 6   Median_Income_2010   64512 non-null  float64
 7   Income_Error_Margin  64512 non-null  float64
 8   _merge               65410 non-null  category
dtypes: category(1), float64(5), int64(1), object(2)
memory usage: 4.6+ MB

In [43]:
# Looking at the death per cap values to shortlist the control states for our analysis
merged.groupby(by=(["Year","State_Code"])).mean().sort_values(by="Death_per_cap")

,,Population,Deaths,Death_per_cap,Median_Income_2010,Income_Error_Margin
Year,State_Code,,,,,
2019,DE,325556.000000,2.666667,0.000010,55567.666667,1041.000000
2017,DE,319314.000000,2.333333,0.000011,55567.666667,1041.000000
2019,NJ,423393.238095,3.333333,0.000011,70629.904762,1289.095238
2018,DE,322328.333333,3.666667,0.000011,55567.666667,1041.000000
2016,DE,316663.000000,3.000000,0.000012,55567.666667,1041.000000
...,...,...,...,...,...,...
2011,DC,NaN,79.000000,NaN,NaN,NaN
2012,DC,NaN,71.000000,NaN,NaN,NaN
2013,DC,NaN,112.000000,NaN,NaN,NaN
2014,DC,NaN,90.000000,NaN,NaN,NaN
2015,DC,NaN,114.000000,NaN,NaN,NaN

In [44]:
merged.duplicated(["Year","State_Code","County_Name"]).sum()

0

In [45]:
# For WA - IL, ID, WI
# For FL - IL, WA, ID
# For TX - UT, CO, KS

In [49]:
print(merged.Year.min())
print(merged.Year.max())

2000
2020

In [50]:
merged.Year.unique()

array([2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2000, 2001, 2002, 2016, 2017, 2018, 2019, 2020])

In [51]:
years = [2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015]
merged_final = merged[merged["Year"].isin(years)]

In [52]:
print(merged_final.Year.min())
print(merged_final.Year.max())

2003
2015

In [46]:
merged_final.to_csv('/Users/Aarushi/Duke/MIDS - Fall 2021/Fall 2021/720_IDS_PDS/pds2021-opioids-team-2-ids720/20_intermediate_files/mortality_merged.csv', encoding='utf-8', index=False)